@font-face {
	font-family: 'halo';
	src: url('halo3.ttf');
}

@media (min-width:760px) {
	inputs {
		position: relative;
		left: 0;
	}
}

body {
	background-image: url("photo-1469032923574-4f1413034019.jpg");
	background-size: cover;
	text-align: center;
}

button {
	font-size: 4em;
}

button,
h1,
i,
label,
td {
	font-family: 'halo';
	font-size: 2em;
	font-weight: 600;
	text-shadow: 0px 0px 20px white;
}

h1 {
	font-size: 4em;
}

header {
	text-decoration: underline;
}

input {
	padding: 10px;
}

label {
	padding: 10px;
}

table {
	width: %;
	margin: auto;
	font-size: 1.2em;
}

#main {
	width: 800px;
	margin: auto;
}