@font-face {
	font-family: 'halo';
	src: url('halo3.ttf');
}

@media (min-width:760px) {
	inputs {
		position: relative;
		left: 0;
	}
	h1 {
		font-size: 1em;
	}
}

@media (max-width:500px) {
	i {
		visibility: hidden;
	}
	.tableContainer {
		width: 100%;
	}
	.center {
		margin: 0;
		width: inherit;
	}
}

body {
	background: url("photo-1469032923574-4f1413034019.jpg") no-repeat center center fixed;
	text-align: center;
}

header {
	text-decoration: underline;
}

input {
	padding: 10px;
}

label {
	padding: 10px;
}

table {
	margin: auto;
}

.main {
	color: white;
	position: relative;
	z-index: 1;
}

.bg {
	background: black;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

h1,
i,
label,
td,
th,
p {
	background-color: inherit;
	font-family: 'halo';
	font-size: 2em;
	position: relative;
	text-shadow: 0px 0px 30px black;
	z-index: 10;
}

h1 {
	font-size: 4em;
}

input {
	color: black;
}

.tableContainer {
	height: inherit;
	overflow-y: scroll;
}

.center {
	margin: auto;
	width: 75%;
}

th {
	background-color: #3076B1;
}

tr:nth-child(even) {
	background-color: darkgrey;
}

table:hover {
	color: black;
}

#time {
	margin-left: 22px;
}