<!--
<div class="row">
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="../Assets/IMG_0229.JPG" alt="">
	</div>
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="../Assets/IMG_0797.JPG" alt="">
	</div>
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="../Assets/IMG_1326.JPG" alt="">
	</div>
	<div class="col-sm-3">
		<img class="img-thumbnail img-responsive" src="../Assets/IMG_1333.JPG" alt="">
	</div>
</div>
-->
<div class="row">
	<div class="col-sm-6 well pull-right">
		<h2>Meet Rufus</h2>
		<p>This is Rufus. He's my 4runner. He's a pretty good car but He could be better. This app is to track all the upgrades I am trying to do to him...and help keep track of the cost.</p>
	</div>
</div>