<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
	<meta charset="UTF-8">
	<title>ng-model</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
	<link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="MyControl">
	<header class="container-fluid"></header>
	<main class="container-fluid">
		<div class="row">
			<div class="col-sm-4 well">
				<h1 class="center-block">{{input1}}</h1>
				<input class="center-block" type="text" ng-model="input1">
			</div>
			<div class=" col-sm-4 well ">
				<h1 class="center-block">{{input2}}</h1>
				<input class="center-block" type="text" ng-model="input2">
			</div>
			<div class="col-sm-4 well">
				<h1 class="center-block">{{input3}}</h1>
				<input class="center-block" type="text" ng-model="input3">
			</div>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="script.js"></script>
</body>

</html>