body {
	color: aliceblue
}

#globalWrapper {
	background-image: url("img/wood-background.jpg");
	background-position: ;
	background-size: ;
	height: 100%;
}

#main {
	background-image: url("img/Slate.jpg");
}

h4 {
	text-decoration: underline;
}

header {
	height: 200px;
	background-image: url("img/IMG_1111.JPG");
	background-position: center;
	background-size: cover;
	padding: 30px 0;
}

@media (max-width: 767px) {
	.img-responsive {
		max-width: 50%;
		min-width: 200px;
	}
}

#profile {
	height: 15em;
	padding: 5px;
	float: left;
	position: relative;
	top: 10px;
}

h1 {
	text-shadow: darkgrey;
	color: aliceblue;
}

figure {
	text-align: center
}