@import url(//fonts.googleapis.com/css?family=Rock+Salt);
body {
	font-family: 'Rock Salt', cursive;
	background-image: url("http://wallpapercave.com/wp/RUdmM6d.jpg");
	background-position: center;
}

button {
	margin: 5px;
}

input {
	margin: 5px;
}

input.ng-invalid.ng-touched {
	border: 1px solid red;
}

input.ng-valid.ng-touched {
	border: 1px solid green;
}

input[type=checkbox] {
	width:20px;
	display: inline-block;
}

img {
	width: 65%;
	height: auto;
}

.card {
	height: auto;
	padding: 5%;
	background-image: url("http://i1123.photobucket.com/albums/l543/hercampusphoto/Colgate%20University/blank-index-card.jpg?t=1333252331");
	background-position: top center;
	background-size: cover;
	border-radius: 2%;
	margin-bottom: 20px;
	box-shadow: 10px 10px 20px;
}

.completed {
	text-decoration-color: black;
	text-decoration: line-through;
	color: red;
}

.error {
	color: red;
}

.todoLine,
.check {
	display: inline-block
}

.ng-invalid .btn {
	background-color: gray;
}