@font-face {
	font-family: StarWars;
	src: url('Death_Star.otf');
}

body {
	font-family: StarWars;
	background-image: url('http://www.hdfondos.eu/pictures/2014/0407/1/star-wars-lightsabers-yoda-wallpaper-7473.jpg');
	background-position: center;
	background-size: cover;
	color: white;
	font-size: 1.8em;
}

button {
	display: inline;
	margin: 20px 0 20px 20px;
	color: black;
}

form {
	height: 800px;
	width: auto;
	margin: 50px 50px 50px 0;
}

h3 {
	text align
}