body {
	background-image: url("img/background.jpg");
	background-position: center;
	background-size: cover;	
	font-family: Verdana;
}

header {
	background-image: url("img/header.jpg");
	background-position: center;
	background-size: cover;
	height: 300px;
	text-align: center;
	
}

#total {
	background-image: url("img/465967.jpg");
	background-position: center top;
	background-size: cover;
	height: 175px;
	text-align: center;
}

h1 {
	text-shadow: 4px 4px white;
	text-transform: capitalize;
	font-size: 6em;
}

h2 {
	font-size: 1.5em;
}

img {
	display: block;
	max-height: 200px;
	max-width: 50px;
}

button {
	object-position: right;
}

figure {
	object-position: center;
	max-width: 400px;
}

figcaption {
	background: inherit;
	text-align: center;
	
}

p {
	padding: 1%;
	background-color: azure;
	width: 50%;
	border: 1px solid black;
	text-align: center;
	min-width: 200px;

}

h3 {
	
	height: 25%;
	width: 25%;
	font-weight: 800;
	font-size: 3em;
	text-shadow: 2px 2px white;
}
#counter1, #counter2, #counter3{
	font-size: 2em;
}
#cost1, #cost2, #cost3{
	background: inherit;
	font-weight: 800;
		font-size: 1em;
	border: none;